/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Import Default Theme for MifosX
@import "theme/custom/denim-yellowgreen";

// Global Imports
/* You can add global styles to this file, and also import other style files */
@import "assets/styles/helper";


.mat-expansion-panel-header, body,p, span , h1, h2, h3, h4, h5, h6, a, .mat-table, .mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab, input, label, .mat-checkbox {
    font-family: "Euclid Circular A" !important;
}
  .mat-expansion-panel-header-title, .mat-line ,.mat-menu-item{
    color: #414a58 !important;
}
// .mat-form-field-infix{
//     padding: 0.5em 0 !important;
//   }
  .mat-form-field-wrapper{
    color: #414a58;
  }
  .container {
    .action-button {
      margin-left: auto;
    }
    .search-button {
      min-width: 30px;
      margin: 4px;
    }
    .search-box{
      display: flex;
      grid-column-gap: 10px;
      align-items: center;
    }
  }
  
  table {
    border: none;
    tr.select-row:hover {
      cursor: pointer;
    }
    tr:nth-child(odd).td{
      color : black;
    }
  }
  th.mat-header-cell {
    background-color: #f5f7f9;
    border-bottom-width: 1px;
  }
  .mat-header-cell {
    font-size: 12px;
    font-weight: 600;
  }
  tr.mat-header-row {
    height: 50px;
  }
  .search-container{
    display: flex;
    align-items: center;
    position: relative;
    span{
      position: absolute;
      left: 10px;
    }
  }
  .search {
    background: #F5F7F9;
    border: 1px solid #dfe5ec;
    border-radius: 5px;
    padding: 4px 16px 4px 30px;
    max-width: 400px;
    min-width: 300px;
    min-height: 32px;
  }
  